@import '../../typography/typography.scss';

@import '../../typography/typography.scss';

.files-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-family: 'Roboto';
}

.files-table th,
.files-table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    font-family: 'Roboto';
}
.owners{
    display: flex;
    align-items: center;
    gap: .5rem;
}
.files-table th {
    text-align: left;
    font-family: 'Roboto';
    margin-top: 2rem;
    height: max-content;
}

.wellcome {
    display: flex;
    font-size: 3.2em;
    line-height: 1.1;
    justify-content: center;
    font-weight: 100;
    margin: 1rem;
}

.search-bar {
    display: flex;
    justify-content: center;
    font-family: 'Roboto';
}

.icon {
    width: 24px; /* Adjust the size as needed */
    height: 24px; /* Adjust the size as needed */
    margin-right: 8px; /* Adjust the spacing as needed */
    vertical-align: middle;
}

.incon {
    height: 1rem;
    margin-right: 1rem;
}